*{
	margin: 0;
	padding: 0;
}

.container{
	margin: 0 auto;
	width: 768px;
}

.header{
	width: 768px;
	height: 192px;
	float: left;
	border-bottom: solid gray 2px;
	padding: 5px;	
}

.errorBar{
	height: 25px;
	width: 100%;
	padding: 5px;
	color: red;
	text-align: center;
	background-color: lightgray;
	float: left;
}

.succesBar{
	height: 25px;
	width: 100%;
	padding: 5px;
	color: green;
	text-align: center;
	background-color: lightgray;
	float: left;
}

#logo{
	width: 192px;
	float: left;
}

#headerTitle{
	width: 576px;
	height: 100%;
	float: left;
}

#headerTitle h1{	
	padding-top: 70px;
	padding-left: 10px;
}

.content{
	width: 768px;
	float: left;
}

.racer{
	width: 100%;
	height: 192px;
	padding: 10px;
	float: left;
}

.racerImg{
	width: 192px;
	float: left;
}

.racerDetails{
	padding-top: 70px;
	padding-left: 10px;
	float: left;
}

.racerDetails p{
	font-size: 16pt;
}
